<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolas</title>
</head>
<body>
    <h1>Lista de Escolas</h1>
    
    <style>
        table,td,th{
            border: 1px solid black;

        }
        th{
            font-weight: bolder;
    }
    td,th{
        padding: 5px;
    }
    </style>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereco</th>
            <th>Foto</th>
            <th>Deletar</th>
            <th>Editar</th>
        </tr>
        <%for(escola of Escolas){%>

        <tr>
            <td><%=escola._id%></td>
            <td><%=escola.nome%></td>
            <td><%=escola.endereco%></td>
            <td><%=escola.foto%></td>
             <td>
            <a href="/deletarescola/<%=escola._id%>">Deletar</a>

            </td>
            <td>
                <a href="/editarescola/<%=escola._id%>">Editar</a>
            </td>
        </tr>
        <% } %>
    </table>
</body>
</html>