<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
</head>
<body>
    <h1>Lista de Alunos</h1>
    
    <style>
        table,td,th{
            border: 1px solid black;

        }
        th{
            font-weight: bolder;
    }
    td,th{
        padding: 5px;
    }
    </style>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data</th>
            <tr>AnoLetivo</tr>
            <tr>Especificidade</tr>
            <tr>Especificar</tr>
            <th>NomeResponsavel</th>
            <tr>Endereco</tr>
            <tr>Zona</tr>
            <tr>Telefones</tr>
            <tr>Situacao</tr>
            <tr>EscolasPreferencia</tr>
            <tr>TurnoPreferecia</tr>
            <tr>AtendimentosClinicos</tr>
            <tr>TurnosAtendimentos</tr>
            <tr>InformacoesInportantes</tr>
            <tr>NecessitaraCuidador</tr>
            
        </tr>
        <%for(aluno of Alunos){%>

        <tr>
            <td><%=aluno._id%></td>
            <td><%=aluno.nome%></td>
            <td><%=aluno.data%></td>
            <td><%=aluno.anoLetivo%></td>
            <td><%=aluno.especificidade%></td>
            <td><%=aluno.especificar%></td>
            <td><%=aluno.nomeResponsavel%></td>
            <td><%=aluno.endereco%></td>
            <td><%=aluno.telefones%></td>
            <td><%=aluno.situacao%></td>
            <td><%=aluno.escolasPreferencia%></td>
            <td><%=aluno.turnoPreferencia%></td>
            <td><%=aluno.atendimentosClinicos%></td>
            <td><%=aluno.turnosAtendimentos%></td>
            <td><%=aluno.informacoesInportantes%></td>
            <td><%=aluno.necessitaraCuidador%></td>
            
        </tr>
        <% } %>
    </table>
</body>
</html>