<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, AdminWrap lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, AdminWrap lite design, AdminWrap lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
        content="AdminWrap Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Matriculas Antecipadas </title>
    <link rel="canonical"  type="image/png" sizes="1x1" href="/images/matricula1.png" />
    <!-- Favicon icon -->
    <link rel="image" type="image/png" sizes="16x16" href="novo_template/assets/images/matricula1png">
    <!-- Bootstrap Core CSS -->
    <link href="/novo_template/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/novo_template/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="/novo_template/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <!--c3 CSS -->
    <link href="/novo_template/assets/node_modules/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/novo_template/css/style.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="/novo_template/css/pages/dashboard1.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/novo_template/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label"> Conectando</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index2.ejs">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/novo_template/assets/images/icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <img src="/novo_template/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                            <img src="/novo_template/assets/images/matricula1.png" class="light-logo" alt="homepage" /></span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                                href="javascript:void(0)"><i class="fa fa-bars"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-xs-down search-box"> <a
                                class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i
                                    class="fa fa-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a
                                    class="srh-btn"><i class="fa fa-times"></i></a></form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown u-pro">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="#"
                                id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="/images/Psicóloga.png" alt="user" class=""/> <span
                                    class="hidden-md-down">Educação Inclusiva &nbsp;</span> </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="/adicionarmatricula" aria-expanded="false"><i
                                    class="fa fa-tachometer"></i><span class="hide-menu">Matricular</span></a>
                                    
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/listarescolas" aria-expanded="false"><i
                                    class="fa fa-user-circle-o"></i><span class="hide-menu">Escolas</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/listaraluno" aria-expanded="false"><i
                                    class="fa fa-table"></i><span class="hide-menu">Alunos</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/login" aria-expanded="false"><i
                                    class="fa fa-smile-o"></i><span class="hide-menu">Sair</span></a>
                        </li>
                        
                    </ul>
                   
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Menu</h3>
                        <div class="navbar-header">
                          <form method="POST">
                            Id: <input type="text" name="txtId" readonly value="<%=matricula._id%>"><br>
                            <p>
                                
                              <br> Escola: <select name="txtEscola" >
                                
                                <option ridden >Selecione</option>
                                <%for(escola of Escolas){%>
                                <option value="<%=escola._id%>" ><%=escola.nome%></option>
                                <% } %>
                                </select> 
                              </p>
                            Nome Completo do(a) Aluno(a): <input type="text" name="txtNome" placeholder="Nome" value="<%=matricula.nome%>"><br>
                          <br>  Data de Nascimento: <input type="date" name="txtData" placeholder="Data" value="<%=matricula.data%>"><br>
                          <p>
                          <br> Ano Letivo em 2022: <select name="txtAno">
                            <option ridden >Selecione</option>
                            <option >Berçário 1</option>
                            <option >Berçário 2</option>
                            <option >Maternal 1</option>
                            <option >Maternal 2</option>
                            <option >Pré 1</option>
                            <option >Pré 2</option>
                            <option >Primeiro Ano</option>
                            <option >Segundo Ano</option>
                    
                          </select></p><br>
                          <p>
                          <br> Especificidade: <select name="txtEspecificidade" >
                            <option ridden >Selecione</option>
                            <option >Deficiência Visual</option>
                            <option >Deficiência motora</option>
                            <option >Deficiência Auditiva</option>
                            <option >Paralisia Cerebral</option>
                            <option >Outro</option>
                            </select> 
                          </p> <br>
                        
                        <br> Nome do Responsável: <input type="text" name="txtNomeResponsavel" placeholder="Nome do Responsável" value="<%=matricula.nomeResponsavel%>"><br>
                          <br> Endereço do(a) Aluno(a): <input type="text" name="txtEndereco" placeholder="Endereço" value="<%=matricula.endereco%>"><br>
                          <p>
                          <br> Zona: <select name="txtZona" >
                            <option ridden >Selecione</option>
                            <option >Zona Leste</option>
                            <option >Zona Sul</option>
                            <option >Zona Oeste</option>
                            <option >Zona Norte</option>
                            </select> 
                          </p> <br>
                    
                          <br> Telefones para Contato: <input type="text" name="txtTelefone" placeholder="Telefones" value="<%=matricula.telefones%>"><br>
                    
                          <br> Situação: <input type="text" name="txtSituacao" placeholder="Situação" value="<%=matricula.situacao%>"><br>
                    
                          <p>
                          <br> Escolas de Preferência:  <select name="txtEscolas">
                            <option ridden >Selecione</option>
                            <option >EMEF Fundação Bidart</option>
                            <option >EMEI Dr Penna</option>
                            <option >EMEI Nossa Senhora do Carmo</option>
                            </select> 
                          </p> <br> 
                          <p>
                          <br> Turno de Preferência da Escola: <select name="txtTurno">
                            <option ridden >Selecione</option>
                            <option >Manhã</option>
                            <option >Tarde</option>
                            </select>
                          </p> <br>
                          <br> Atendimentos Clínicos Especializados que Frequenta Atualmente : <input type="text" name="txtAtendimentos" placeholder="Atendimetos Clínicos" value="<%=matricula.atendimentosClinicos%>"><br>
                          <p>
                          <br> Turnos dos Atendimentos Clínicos: <select name="txtTurnos">
                            <option ridden >Selecione</option>
                            <option >Manhã</option>
                            <option >Tarde</option>
                            </select>
                          </p> <br>
                          <br> Informações Importantes Sobre o(a) Aluno(a): <input type="text" name="txtInfomacoes" placeholder="Informações Importantes" value="<%=matricula.informacoesInportantes%>"><br>
                          <p>
                          <br> O(a) Aluno(a) Necessitará de um Cuidador: <select name="txtNecessitara">
                            <option ridden >Selecione</option>
                            <option >Sim</option>
                            <option >Não</option>
                            </select>
                          </p> <br>
                           
                           
                            
                            <br><input type="submit" name="Adicionar">
                        </form>
                        </div>
                    </div>


                    
                
    <script src="/novo_template/assets/node_modules/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/novo_template/assets/node_modules/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/novo_template/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="/novo_template/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/novo_template/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/novo_template/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="/novo_template/assets/node_modules/raphael/raphael-min.js"></script>
    <script src="/novo_template/assets/node_modules/morrisjs/morris.min.js"></script>
    <!--c3 JavaScript -->
    <script src="/novo_template/assets/node_modules/d3/d3.min.js"></script>
    <script src="/novo_template/assets/node_modules/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="/novo_template/js/dashboard1.js"></script>
</body>

</html>
