<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matriculas</title>
</head>
<body>
    <h1>Lista de Matriculas</h1>
    
    <style>
        table,td,th{
            border: 1px solid black;

        }
        th{
            font-weight: bolder;
    }
    td,th{
        padding: 6px;
        
    }
    </style>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data</th>
            <th>AnoLetivo</th>
            <th>Especificidade</th>
            <th>NomeResponsavel</th>
            <th>Endereco</th>
            <th>Zona</th>
            <th>Telefones</th>
            <th>Situacao</th>
            <th>EscolasPreferencia</th>
            <th>TurnoPreferecia</th>
            <th>AtendimentosClinicos</th>
            <th>TurnosAtendimentos</th>
            <th>InformacoesInportantes</th>
            <th>NecessitaraCuidador</th>
            <th>Deletar</th>
           
            
        </tr>
        <%for(matricula of Matriculas){%>

        <tr>
            <td><%=matricula._id%></td>
            <td><%=matricula.nome%></td>
            <td><%=matricula.data%></td>
            <td><%=matricula.anoLetivo%></td>
            <td><%=matricula.especificidade%></td>
            <td><%=matricula.nomeResponsavel%></td>
            <td><%=matricula.endereco%></td>
            <td><%=matricula.zona%></td>
            <td><%=matricula.telefones%></td>
            <td><%=matricula.situacao%></td>
            <td><%=matricula.escolasPreferencia%></td>
            <td><%=matricula.turnoPreferencia%></td>
            <td><%=matricula.atendimentosClinicos%></td>
            <td><%=matricula.turnosAtendimentos%></td>
            <td><%=matricula.informacoesInportantes%></td>
            <td><%=matricula.necessitaraCuidador%></td>
            <td>
                <a href="/deletarmatricula/<%=matricula._id%>">Deletar</a>
                <a href="/editarmatricula">Editar</a>
            </td>
            
            
        </tr>
        <% } %>
    </table>
</body>
</html>