<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matriculas</title>
</head>
<body>
    <h1>Lista de Matriculas</h1>
    
    <style>
        table,td,th{
            border: 1px solid black;

        }
        th{
            font-weight: bolder;
    }
    td,th{
        padding: 5px;
    }
    </style>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data</th>
            <tr>AnoLetivo</tr>
            <tr>Especificidade</tr>
            <tr>Especificar</tr>
            <th>NomeResponsavel</th>
            <tr>Endereco</tr>
            <tr>Zona</tr>
            <tr>Telefones</tr>
            <tr>Situacao</tr>
            <tr>EscolasPreferencia</tr>
            <tr>TurnoPreferecia</tr>
            <tr>AtendimentosClinicos</tr>
            <tr>TurnosAtendimentos</tr>
            <tr>InformacoesInportantes</tr>
            <tr>NecessitaraCuidador</tr>
           
            
        </tr>
        <%for(matricula of Matriculas){%>

        <tr>
            <td><%=matricula._id%></td>
            <td><%=matricula.nome%></td>
            <td><%=matricula.data%></td>
            <td><%=matricula.anoLetivo%></td>
            <td><%=matricula.especificidade%></td>
            <td><%=matricula.especificar%></td>
            <td><%=matricula.nomeResponsavel%></td>
            <td><%=matricula.endereco%></td>
            <td><%=matricula.telefones%></td>
            <td><%=matricula.situacao%></td>
            <td><%=matricula.escolasPreferencia%></td>
            <td><%=matricula.turnoPreferencia%></td>
            <td><%=matricula.atendimentosClinicos%></td>
            <td><%=matricula.turnosAtendimentos%></td>
            <td><%=matricula.informacoesInportantes%></td>
            <td><%=matricula.necessitaraCuidador%></td>
            
            
        </tr>
        <% } %>
    </table>
</body>
</html>